/memo.lisp
*.pyc
/TFGENZOO/examples/.ipynb_checkpoints/
/TFGENZOO/glow_log/
/checkpoints/
/venv/
/TFGENZOO/mnists/
/TFGENZOO/examples/checkpoints/
*.v2
/TFGENZOO/flows-bak/
/build/
/dist/
/cifar10/
Pipfile.lock
