[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}
ipython = "*"
matplotlib = "*"
ptvsd = "*"
yapf = "*"
pytest = "*"
jupyterlab = "*"

[packages]
gast = "==0.3.2"
tensorflow-probability = "*"
sentencepiece = "*"
pandas = "*"
matplotlib = "*"
tensorflow-addons = "*"
tensorflow = "==2.1.0"


[requires]
python_version = "3.6"
