[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
matplotlib = "*"
ptvsd = "*"
yapf = "*"
pytest = "*"
jupyterlab = "*"
twine = "*"
tensorflow-datasets = "*"
black = "*"

[packages]
tensorflow = "==2.5.2"
tensorflow-probability = "==0.12.2"
pandas = "*"
matplotlib = "*"
tensorflow-datasets = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
