[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = {extras = ["all"],version = "*"}
ipython = "*"

[packages]
python-language-server = {extras = ["all"],version = "*"}
ptvsd = "*"
yapf = "*"
tensorflow-probability = "*"
sentencepiece = "*"
pandas = "*"
tensorflow-datasets = "*"
jupyterlab = "*"
tensorflow = "==2.1.0"

[requires]
python_version = "3.7"
